@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverable-icon {
  transition: all 0.5s ease;
}

.hoverable-icon:hover {
  fill: theme(colors.accent);
}

.resume-button {
  border: 2px solid theme(colors.white);
  text: theme(colors.white);
  background: transparent;
  padding: 2px 0;
  text: theme(fontSize.lg);
  font-weight: theme(fontWeight.thin);
  cursor: pointer;
  margin: 2px 0;
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
  margin-right: 5%;
}

.resume-button:hover {
  background: theme(colors.white);
  color: theme(colors.black);
}

.bold-reveal .react-reveal span {
  font-weight: theme(fontWeight.semibold);
}
