/* Global Styles */
*{
  margin: 0; 
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: #F2F1ED;
}
html {
  text-rendering: optimizeLegibility;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  background-attachment: fixed;
  background-color: #0C0C0C;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}